/*STYLING FOR INDEX.HTML*/

.tree {width: 39400px;}

.George1 {
	background: #00FFFF;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	color: #666;
	display: inline-block;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	height: 50px;
	margin-right: -4px;
	text-decoration: none;
	vertical-align: text-bottom;
	width: 180px;
}

.George1 p {text-align: center;}

.George2 {
	background: white;
	display: inline-block;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	height: 50px;
	margin-right: -4px;
	text-align: center;
	vertical-align: text-bottom;
	width: 180px;
}

.George2 svg {overflow: visible;}

.George3::after {
	content: '';
    position: relative;
    top: 50%;
    border-top: 3px dashed lightblue;
    display: block;
}

.George4 {
	background: white;
	border: 1px solid white;
	color: blue;
	display: inline-block;
	font-family: arial, verdana, tahoma;
	font-size: 13px;
	height: 50px;
	margin-right: -4px;
	padding: 15px;
	text-align: center;
	vertical-align: text-bottom;
	width: 180px;
}

.George5 {position: relative;}

.divorceSign {
	font-size: 225%;
	letter-spacing: -5.5px;
	line-height: 110%;
}

.marriageSign {
	font-size: 225%;
	letter-spacing: -6px;
	line-height: 110%;
}

.marriageSignELKnight {
	font-size: 225%;
	letter-spacing: -6px;
	line-height: 50%;
	padding-bottom: 20px;
}

/*the next 5 divs create the lines to the left and right of GAG, born 1864 and GG, born about 1833*/

.lineGAG1 {
  width: 60px;
  background: #ccc;
  height: 2px;
  display: inline-block;
  margin-bottom: 2.5px;
}

.pointGAG1 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #ccc;
  display: inline-block;
  margin-bottom: -1px;
  margin-right: -4px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.marriageGAG{
	display: inline-block;
	margin-top: 22px;
}

.lineGAG2 {
  width: 60px;
  background: #ccc;
  height: 2px;
  display: inline-block;
  margin-bottom: 2.5px;
  margin-right: -4px;
}

.pointGAG2 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #ccc;
  display: inline-block;
  margin-bottom: -1px;
}

.upperRight a {
	position: absolute;
	bottom: 102.5%;
	color: #666;
	text-decoration: none;
}

.upperRightArrow {font-size: 125%;}
	
.docLink {
	color: black;
	text-decoration: none;
}

.docLink:hover {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

.progenyLink {
	color: #666;
	text-decoration: none;
}

/*moreInfoZero used for people with neither birth nor death date, moreInfoOne used for people with one or the other, moreInfoTwo used for people with both*/

.moreInfoZero a {
	position: relative;
	bottom: -16px;
	left: 1px;
	color: #666;
	text-decoration: none;
	z-index: 2;
}

.moreInfoOne a {
	position: relative;
	bottom: 0;
	left: 1px;
	color: #666;
	text-decoration: none;
	z-index: 2;
}

.moreInfoTwo a {
	position: relative;
	bottom: 16px;
	left: 1px;
	color: #666;
	text-decoration: none;
	z-index: 2;
}

.moreInfoZero a:hover, .moreInfoOne a:hover, .moreInfoTwo a:hover, .progenyLink:hover, .upperRight a:hover, .upperRightKo a:hover, .upperRightWestacott a:hover {
	color: black;
	text-decoration: none;
} 

.moreInfoArrow {
	font-size: 125%;
}

/* make text of "More Info" and "Pictures(1)" under George Aflred Greenslade, born 1864 smaller when viewed on smaller devices */

@media only screen and (max-width: 435px) {
  #smallFont {font-size: 95%}
}

/*STYLING FOR KO FAMILY TREE*/

.Ktree {width: 1300px;}

.ko1 {
	background: #FF7034;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	margin: 5px 0px 5px 6px;
	padding-top: 10px;
	text-align: center;
	width: 906px;
}

.ko2 {width: 180px;}

.upperRightKo a {
	position: absolute;
	bottom: 77.7%;
	color: #666;
	text-decoration: none;
}

.indentKo { 
	padding: 150px;
}

/*STYLING FOR DUFFY, LEO GARCIA, SCHNEIDER AND SIDOROFF FAMILY TREES*/

.duffyTree {width: 3500px;}

.LGtree {width: 1350px;}

.SchnTree {width: 945px;}

/*.duffy1A - 1C are used to create the colors of the Irish flag on Duffy family tree*/
    
.duffy1A {
	background: #169B62;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 71px;
	margin: 25px -185px -25px 850px;
	width: 600px;
	vertical-align: text-bottom;
}

.duffy1B {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	margin: 5px -2px 5px -2px;
	padding-top: 10px;
	text-align: center;
	/* width: 300px; */
	width: 600px;
	vertical-align: text-bottom;
}

.duffy1C {
	background: #FF883E;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 71px;
	margin: 5px 0px -25px -5px;
	width: 600px;
	vertical-align: text-bottom;
}

/*.leoGarcia1A - 1C are used to create the colors of the Peruvian flag on the Leo Garcia family tree*/
    
.leoGarcia1A {
	background: #D91023;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 0px;
	width: 420px;
	vertical-align: text-bottom;
}

.leoGarcia1B {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	margin: 5px -1px 5px -1px;
	padding-top: 10px;
	text-align: center;
	width: 420px;
	vertical-align: text-bottom;
}

.leoGarcia1C {
	background: #D91023;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 3px 5px -3px;
	width: 420px;
	vertical-align: text-bottom;
}

.sidoroff1 {
	background: #FF7034;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	margin: 5px 0px 5px 0;
	padding-top: 10px;
	text-align: center;
	width: 904px;
}

/* STYLING FOR MORRISON FAMILY TREE*/

.Mtree {width: 9400px;}

.morrison1 {
	background: #FF7034;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	margin: 5px 0px 5px 2345px;
	padding-top: 15px;
	text-align: center;
	width: 1442px;
}

.indentElizabethLillianKnightDocs {padding-left: 250px;}

/*STYLING FOR WESTACOTT FAMILY TREE*/

.westacott1 {
	background: #FF7034;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	margin: 5px 0px 5px 192px;
	padding-top: 10px;
	text-align: center;
	width: 540px;
}

.upperRightWestacott a {
	position: absolute;
	bottom: 61.5%;
	color: #666;
	text-decoration: none;
}

/*STYLING FOR MODALS*/

.modal-Info > div 	{
  	padding: 0px 20px 0px 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: linear-gradient(#00FFFF, #ccfff2);
	background: -moz-linear-gradient(#00FFFF, #ccfff2);
	background: -webkit-linear-gradient(#00FFFF, #ccfff2);
	background: -o-linear-gradient(#00FFFF, #ccfff2);
 }
 
@media only screen and (max-width: 500px) {
   #shakespeareQuotes, #poem1, #poem2  {
    font-size: 70%;
  }
}

@media only screen and (max-width: 575px) and (min-width: 501px){
   #shakespeareQuotes, #poem1, #poem2  {
    font-size: 80%;
  }
}

.modal-Photo > div {margin: 10% auto;
 	padding: 5px 20px 13px 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: #00FFFF;
}

.borderBottomModalPhoto {
	border-bottom: 2px solid #0080ff;
}
 
.modal-header {border-bottom: 2px solid #0080ff;}

.close {
	color: #000;
	font-family: arial, verdana, tahoma;
	font-size: 140%;
	opacity: 0.5;
	position: absolute;
	right: 12px;
	top: 25px;
	text-decoration: none;
	width: 36px;
}

/*modals with tabs*/

.btn-close:focus {
	box-shadow: none;
}

.tabHeading {
	color: #000000 !important;
	/* important is need for color because iphones default color is light blue*/
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	outline: none !important;
    border: none !important;
	background: #0080ff;
	height: 40px;
	margin: 4px 0px;
	width: 100px;
}
	
.tabHeading:hover {
	cursor: grab;
	font-weight: 900;
}

.highlightedTab {background: #0000ff;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	font-weight: 700;
}

.highlightedTab:focus {
	outline: none !important;
    border: none !important;
}

/*STYLING FOR PHOTO[NAME].HTML AND PHOTODOCS[NAME].HTML */

@media only screen and (max-width: 576px) {
  .col-12 > p, .col-12 > div > p, .carousel-item > p  {font-size: 85%}
}

.img-responsive {
	max-width: 100%; 
	height: auto; 
	display: block;
}

.borderBottom {border-bottom: 8px solid #ccc;}

.pic-back {display: none;}

.background {background: #00FFFF;
	border: 5px solid #ccc;
	padding: 30px;
}

.center {text-align: center;}

.hover:hover {
	cursor: grab;
}

.heading {
	font-family: arial, verdana, tahoma;
	text-align: center;
}

/*the next 6 items create the styling for the button at the top of photo[name].html, photoDocs[name].html and carouselGeorgeAlfredGreensladeII.html*/

#headingZZZ {
	font-family: arial, verdana, tahoma;
	padding-top: 5px;
 	text-align: center;
}

#btn-ZZZ {
 	background: #00FFFF;
	border-style: hidden;
	color: #000;
	font-family: arial, verdana, tahoma;
	font-size: 140%;
	opacity: 0.5;
}

#btn-AAA {
	background: #9B533B;
	border-style: hidden;
	color: #000;
	font-family: arial, verdana, tahoma;
	font-size: 140%;
	opacity: 0.5;
}

#btn-ZZZ:hover {
	cursor: grab;
	opacity: 1.0;
}

#btn-AAA:hover {
	background: #00FFFF;
	cursor: grab;
	opacity: 1.0;
}

@media only screen and (max-width: 575px) {
   #headingZZZ {
    font-size: 85%;
  }
  
  #btn-ZZZ, #btn-AAA:hover {
  	font-size: 100%;}
}

/* STYLING FOR photoRichardGreenslade.html */

.noDisplay {
	visibility: hidden;
}

/*STYLING FOR photoWayneKnight.html*/

@media only screen and (min-device-width: 300px) {
  .wayneKnightPhoto {
    height: 170px;
    width: auto;
  }
}

@media only screen and (min-device-width: 350px) {
  .wayneKnightPhoto {
    height: 200px;
    width: auto;
  }
}

@media only screen and (min-device-width: 440px) {
  .wayneKnightPhoto {
    height: 260px;
    width: auto;
  }
}

@media only screen and (min-device-width: 500px) {
  .wayneKnightPhoto {
    height: 290px;
    width: auto;
  }
}

@media only screen and (min-device-width: 576px) {
  .wayneKnightPhoto {
    height: 320px;
    width: auto;
  }
}

@media only screen and (min-device-width: 768px) {
  .wayneKnightPhoto {
    height: 190px;
    width: auto;
  }
}

@media only screen and (min-device-width: 992px) {
  .wayneKnightPhoto {
    height: 250px;
    width: auto;
  }
}

@media only screen and (min-device-width: 1200px) {
  .wayneKnightPhoto {
    height: 320px;
    width: auto;
  }
}

@media only screen and (min-device-width: 1400px) {
  .wayneKnightPhoto {
    height: 350px;
    width: auto;
  }
}

/*STYLING FOR carouselGeorgeGreensladeII.html and photoDocs[name].html for BelleHinks, CarolinaVirginiaGreenslade and GeorgeGreensladeBorn1864*/

@media only screen and (min-width: 992px) {	
	.BHcarousel-indicators {
		padding-bottom: 40px;
}
}

@media only screen and (min-width: 350px) {	
	.GAGIcarousel-indicators {
		padding-bottom: 90px;
}
}

@media only screen and (min-width: 400px) {	
	.GAGIcarousel-indicators {
		padding-bottom: 70px;
}
}

@media only screen and (min-width: 450px) {	
	.GAGIcarousel-indicators {
		padding-bottom: 50px;
}
}

@media only screen and (min-width: 500px) {	
	.GAGIcarousel-indicators {
		padding-bottom: 40px;
}
}

.carouselContainerGG {
	background: #9B533B;
	border: 4px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

@media only screen and (max-width: 767px) {	
	.carouselGG {
		height: 400px;
		width: 100%;
		object-fit: contain;
}
}

@media only screen and (min-width: 768px) {	
	.carouselGG {
		height: 500px;
		width: 100%;
		object-fit: contain;
}
}

@media only screen and (min-width: 992px) {	
	.carouselGG {
		height: 700px;
		width: 100%;
		object-fit: contain;
}
}

.d-none {color: #FF7034;}

.carousel-indicators {filter: invert(100%);}

.carousel-control-prev-icon, .carousel-control-next-icon {filter: invert(100%);}

.carousel .carousel-indicators button {
   	width: 10px;
  	height: 10px;
  	border-radius: 100%;
  	color: red;
}

/*STYLING FOR NAVBAR*/

.navbar {
	background: #FF7034;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	display: inline-block;
	font-family: arial, verdana, tahoma;
	margin: 5px 0px 5px 180px;
	width: 1628px;
}

.navbarDuffy {
	background: #f0ead6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	display: inline-block;
	font-family: arial, verdana, tahoma;
	margin: 5px 0px 25px 180px;
	width: 600px;
}

.navbar-brand {
	font-family: 'Itim', arial, verdana;
}

.nav-item:hover {
	background: #FFB697;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.dropdown-menu {
	border: 2px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: linear-gradient(#00FFFF, #ccfff2);
	background: -moz-linear-gradient(#00FFFF, #ccfff2);
	background: -webkit-linear-gradient(#00FFFF, #ccfff2);
	background: -o-linear-gradient(#00FFFF, #ccfff2);
}

.dropdown-item:hover {
	background: #00FFFF;
	border-radius: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.dropdown-item:active {background-color: #00FFFF;
	color:black;
}
.dropdown-item:visited {background-color: #00FFFF;}

.georgeNB1 {
	display: inline-block;
	height: 50px;
	vertical-align: text-bottom;
	width: 5160px;
}

.indentShakespeare1 {padding-left: 20px;}

.indentShakespeare2 {padding-left: 25px;}

@media only screen and (max-width: 575px) {
   .indentShakespeare1 {
    padding-left: 0;
  }
}


/*STYLING IN SVG IN GREENSLADE FAMILY TREE*/

#thomasAndElizabethGreenslade::after, #georgeAndMatildaGreenslade::after, #georgeAndRhodaGreenslade::after {
	content: 'three \00a0\00a0\00a0 children';
    position: relative;
   	left: 6px;
   	top: -41px;
    color: #666;
    display: block;
}

#johnAndJaneGreenslade::after {
	content: 'nine \00a0\00a0\00a0 children';
    position: relative;
   	left: 9px;
   	top: -41px;
    color: #666;
    display: block;
}

#georgeAndAliceGreenslade::after {
	content: 'eight \00a0\00a0\00a0 children';
    position: relative;
   	left: 7px;
   	top: -41px;
    color: #666;
    display: block;
}

#georgeAndJaneGreenslade::after, #georgeAndEvaGreenslade::after, #elizabethAndFrederickSteer::after {
	content: 'six \00a0\00a0\00a0 children';
    position: relative;
   	left: 12px;
   	top: -41px;
    color: #666;
    display: block;
}

/*STYLING FOR realtionFinderModal AND poesyModal*/

.relationFinderButton {
	display: inline-block;
	vertical-align: text-bottom;
	line-height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 2px solid #ccc;
}

td {
	border: 2px solid #ccc;
	font-size: 90%;}

.tableHeading3 {font-size: 90%;
	font-weight: normal;
}
.firstColumn, .secondColumn {vertical-align: text-top;}

.thirdColumn {text-align: center;}

/*STYLING FOR MODALS FOR JOSEPH EUGENE WALSH, JONATHAN EDWARD GREENSLADE, RICHARD MICHAEL SIDOROFF, ANNIE MAY KNIGHT, ALBERT JAYNES MORRISON, JR.*/
/*STYLING FOR PHOTODOCS OF BESSIE GREENSLADE*/

.zoomA, .zoomB, .zoomC, .zoomC-1, .zoomE {margin: 0;}

@media only screen and (min-width: 768px) {
	
	.zoomA:hover {
		cursor: grab;
	  	transform: scale(2.0);
	  	transform-origin: left top;
	  	
	  	width: 600px;
	  	height: auto;
	  	/* ease | ease-in | ease-out | linear */
	 	transition: transform ease-in-out 0.1s;
	}
	
	.zoomB:hover {
		cursor: grab;
	  	transform: scale(2.5);
	  	transform-origin: left top;
	  	
	  	width: 600px;
	  	height: auto;
	  	/* ease | ease-in | ease-out | linear */
	 	transition: transform ease-in-out 0.1s;
	}
	
	.zoomC:hover {
		cursor: grab;
	  	transform: scale(3.5);
	  	transform-origin: top;
	  	
	  	width: 600px;
	  	height: auto;
	  	/* ease | ease-in | ease-out | linear */
	 	transition: transform ease-in-out 0.1s;
	}
	
	.zoomD:hover {
		cursor: grab;
	  	transform: scale(2.5);
	  	transform-origin: bottom;
	  	
	  	width: 600px;
	  	height: auto;
	  	/* ease | ease-in | ease-out | linear */
	 	transition: transform ease-in-out 0.1s;
	}
	
	.zoomE:hover {
		cursor: grab;
	  	transform: scale(3.5);
	  	transform-origin: left top;
	  	
	  	width: 600px;
	  	height: auto;
	  	/* ease | ease-in | ease-out | linear */
	 	transition: transform ease-in-out 0.1s;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.zoomC-2 {display: none;}	
}

/*STYLING FOR TOOLTIP ON MEAHAL DUFFY*/

.meahal {
	display: inline-block;
}
.meahal a {
	color: #666;
	text-decoration: none;
}

.meahal a:hover {
	color: black;
	text-decoration: none;
}

/*STYLING FOR GAGii MODAL*/

.modalIndent {
	margin-left: 15px;
}
