/*CSS FOR PROGENY OF EDWARD DUFFY AND MAE TORPEY*/

.progenyDuffyDiv {
    display: inline-block;
    height: 50px;
    width: 29000px;
}

.progenyEdwardDuffyA {
	background: #b22234;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 14525px;
	width: 800px;
	vertical-align: text-bottom;
}

.progenyEdwardDuffyB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 800px;
	vertical-align: text-bottom;
}

.progenyEdwardDuffyC {
	background: #0A3161;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 800px;
	vertical-align: text-bottom;
}

circle {fill: #0A3161;}

path {fill: none;
      stroke: #b22234;
}

body {font-size: 83%;}

/*CSS FOR PROGENY OF BRIAN DUFFY AND MARY CULLAN*/

.progenyBrianDuffyBody {
    width: 3000px;
    
}

.progenyBrianA {
	background: #169B62;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 1550px;
	width: 400px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF CATHERINE TORPEY AND PATRICK MULRENNIN*/

.progenyCatherineTorpeyBody {
    display: inline-block;
    height: 50px;
    width: 1900px;
}

.progenyCatherineTorpeyA {
	background:  #169B62;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 320px;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyCatherineTorpeyB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyCatherineTorpeyC {
	background: #FF883E;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 400px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF KATHLEEN DUFFY AND JAMES COBURN*/

.progenyCoburnDiv {
    display: inline-block;
    height: 50px;
    width: 1500px;
}

.progenyCoburnA {
	background: #B31942;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 100px;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyCoburnB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyCoburnC {
	background: #0A3161;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 400px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF KEVIN DUFFY AND UNA BEGLEY*/

.progenyKevinBody {
    display: inline-block;
    height: 50px;
    width: 2000px;
}

.progenyKevinA {
	background: #169B62;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 450px;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyKevinB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyKevinC {
	background: #FF883E;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 400px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF UNA DUFFY AND SAM MEDLICOTT*/

.progenyMedlicottBody {
    display: inline-block;
    height: 50px;
    width: 2000px;
}

.progenyMedlicottA {
	background: #C8102E;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 250px;
	width: 500px;
	vertical-align: text-bottom;
}

.progenyMedlicottB {
	background: #f0ead6;
	border: 1px solid black;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 500px;
	vertical-align: text-bottom;
}

.progenyMedlicottC {
	background: #012169;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 500px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF MARY ANN DUFFY AND THOMAS SCANLON*/

.progenyScanlonBody {
    display: inline-block;
    height: 50px;
    width: 15000px;
}

.progenyScanlonA {
	background: #B31942;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 10725px;
	width: 800px;
	vertical-align: text-bottom;
}

.progenyScanlonB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 800px;
	vertical-align: text-bottom;
}

.progenyScanlonC {
	background: #0A3161;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 800px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF MICHAEL "MICK" McDONAGH AND MARY ANN COLEMAN*/

.progenyMickMcDonaghBody {
    width: 3000px;
    
}

.progenyMickA {
	background: #169B62;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 450px;
	width: 600px;
	vertical-align: text-bottom;
}

.progenyMickB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 600px;
	vertical-align: text-bottom;
}

.progenyMickC {
	background: #FF883E;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 600px;
	vertical-align: text-bottom;
}

/*CSS FOR PROGENY OF SARAH "SADIE" McDONAGH/JOHN COMINOS AND MARY "MOLLIE" McDONAGH AND TERENCE KENNY*/

.progenySarahBody {
    display: inline-block;
    height: 50px;
    width: 1900px;
}

.progenySarahA {
	background:  #B31942;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 130px;
	width: 400px;
	vertical-align: text-bottom;
}

.progenyMaryA {
	background:  #B31942;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	display: inline-block;
	height: 50px;
	margin: 5px -3px 5px 140px;
	width: 400px;
	vertical-align: text-bottom;
}

.progenySarahB {
	background: #f0ead6;
	display: inline-block;
	font-family: 'Itim', arial, verdana;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px -2px 5px -2px;
	text-align: center;
	width: 500px;
	vertical-align: text-bottom;
}

.progenySarahC {
	background: #0A3161;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	display: inline-block;
	height: 50px;
	margin: 5px 0px 5px -3px;
	width: 400px;
	vertical-align: text-bottom;
}